/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
/app/_ide_helper.php
/public/uploads
/public/uploads/dropzone
/app/storage/cache
/app/storage/sessions
/app/storage/views
